@model  PagedList.IPagedList<WebApplication.Models.HomeViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Styles.Render("~/Content/css")
<table class="table">
        @foreach (var userClaim in Model.Single().role)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => userClaim.Name)
                </th>
            </tr>
        }
</table>
   @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
